[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"


[dev-packages]

pdbpp = "*"
neovim = "*"
"flake8" = "*"
ptpython = "*"
pytest = "*"
mypy = "*"
